@tailwind base;
@tailwind components;
@tailwind utilities;



.breakfast{
    background-image: url(/img/omlet.jpg);
     background-size: cover; 
    background-position: center;
}

.main-dish{
    background-image: url(/img/main-dish.jpg);
     background-size: cover; 
    background-position: center;
}

.hot-beverage{
    background-image: url(/img/hot-b.jpg);
     background-size: cover; 
    background-position: center;
}

.cold-beverage{
    background-image: url(/img/cold-b.jpg);
     background-size: cover; 
    background-position: center;
}

.dessert{
    background-image: url(/img/dessert.jpg);
    background-size: cover; 
    background-position: center;
}

.salad{
    background-image: url(/img/salad-2.jpg);
    background-size: cover; 
    background-position: center;
}

i{
    color: rgb(193, 53, 139);
}

.coffees{
    background-image: url(/img/coffee.jpg);
    background-size: cover; 
    background-position: center;
}

.appetiser{
    background-image: url(/img/chicken-tender.jpg);
    background-size: cover; 
    background-position: center;
}

.nargile{
    background-image: url(/img/hookah-bg-2.jpg);
    background-size: cover; 
    background-position: center;
}

.title-font{
    font-family: 'Caveat', cursive;
}

.text-font{
    font-family: 'Playfair', serif;
}

.hookah-bg{
    background-image: url(/img/hookah.jpg);
    background-size: cover; 
    background-position: center;

}
/*  */
.appetisers-bg{
    background-image: url(/img/cıtır-tavuk-bg-div.webp);
    background-size: cover; 
    background-position: center;
    opacity: 0.9;
}

.breakfast-bg-div{
    background-image: url(/img/breakfast-bg-div.jpg);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;
}

.tost-bg-div{
    background-image: url(/img/frenchtost-bf.jpg);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;
}

.hamburger-bg-div{
    background-image: url(/img/hamburger-bg-div.jpg);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;
}

.pizza-bg-div{

    background-image: url(/img/pizza-bg-div.jpg);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;    
}

.pasta-bg-div{
    background-image: url(/img/pasta-bg-div.jpg);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;    
}

.main-bg-div{
    background-image: url(/img/tavuk-bg-div.jpg);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;    
}

.diger-bg-div{
    background-image: url(/img/bitki-bg-div.webp);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;    
}

.diger-diger-bg-div{
    background-image: url(/img/bardak-cay-bg-div.jpg);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;    
}

.sıcak-kahve-bg-div{
    background-image: url(/img/es-bg-div.webp);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;    
}

.soguk-kahve-bg-div{
    background-image: url(/img/ccoffee-bg-div.jpg);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;    
}

.geleneksel-bg-div{
    background-image: url(/img/Türk-Kahvesi-bg-div.jpg);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;    
}

.frozen-bg-div{
    background-image: url(/img/frozen-bg-div.jpg);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;    
}

.milk-bg-div{
    background-image: url(/img/milkshake-bg-div.webp);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;    
}

.frappe-bg-div{
    background-image: url(/img/frappe-bg-div.webp);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;    
}

.kok-bg-div{
    background-image: url(/img/kokteyl-bg-div.jpeg);
    background-size: cover; 
    background-position: center;
    opacity: 0.8;    
}

/*  */
.hamburger{
    background-image: url(/img/main-dish.jpg);
    background-size: cover; 
    background-position: center;
}

.pizza{
    background-image: url(/img/pizza-margherita-tarifi.jpg);
    background-size: cover; 
    background-position: center;
}

.pasta{
    background-image: url(/img/salcali-makarna.jpg);
    background-size: cover; 
    background-position: center;
}

.soup{
    background-image: url(/img/soup.webp);
    background-size: cover; 
    background-position: center;
}

