@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Roboto', sans-serif;
}

.logo{
    border-radius: 85%;
    border-color: #ffb700;
}

.h1-font{
    font-family: 'Gothic A1', sans-serif;
    color: #FF9A00;
}

.info-text{
    font-family: 'Caveat', cursive;
}


.main-page-title{
    font-family: 'Gothic A1', sans-serif;
    color: #ebaa05;
    border-color: #FF4D00;
}


.text-red-rgb{
    color:rgb(251, 0, 79) ;
}

.text-footer-rgb{
    color: #ffb700;
}


.info-img{
    filter: drop-shadow(10px 10px 10px orange);
}

.main-page{
    margin-top: 90px;
    background-image: url(/img/bg-main-2.png);
    width: 100%;
    height: 100vh;
    background-size: cover; /* Optional: Adjust as needed */
    background-repeat: no-repeat; /* Optional: Adjust as needed */
    background-position: center center;
}


.bg-color{
   background-color: #333;
}

.bg-color-2{
    background-color: #444;
}

.bg-color-3{
    background-color: #555;
}

.bg-color-4{
    background-color: #666;
}

.bg-color-5{
    background-color: #777;
}

.border-color{
    border-color:#FF4D00 ;
}

.h1-font-menu{
    font-family: 'Permanent Marker', cursive;

}

/* Float Img */

.float-img{
    transform: translateX(0px);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-30px);
    }
    100%{
        transform: translateY(0px);
    }
}


/* Slide in down Down */

.slideInDown {
    -webkit-animation-name: slideInDown;
    animation-name: slideInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    }
    @keyframes slideInDown {
    0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    }
    } 

    /* Zoom In */

    .zoomIn {
        -webkit-animation-name: zoomIn;
        animation-name: zoomIn;
        -webkit-animation-duration: 4s;
        animation-duration: 4s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes zoomIn {
        0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }
        50% {
        opacity: 1;
        }
        }
        @keyframes zoomIn {
        0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
        }
        50% {
        opacity: 1;
        }
        } 


        /* tada */
        .tada {
            -webkit-animation-name: tada;
            animation-name: tada;
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
            }
            @-webkit-keyframes tada {
            0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            10%, 20% {
            -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            }
            30%, 50%, 70%, 90% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            }
            40%, 60%, 80% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            }
            100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            }
            @keyframes tada {
            0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            }
            10%, 20% {
            -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            }
            30%, 50%, 70%, 90% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            }
            40%, 60%, 80% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            }
            100% {
            -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
} 

            

          